nav {
  display: flex;
  gap: 2rem;
}
img {
  max-width: 200px;
}
.detailOrg {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidebyside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 400px;
}
